<?xml version="1.0"?>
<!-- Load velocity controllers to allow individual wheel control -->
<launch>
  <!-- Publish URDF -->
  <include file="$(find herox_description)/launch/description.launch" />

  <!-- CANOpen motor controller driver -->
  <node name="driver" pkg="canopen_motor_node" type="canopen_motor_node" output="screen" clear_params="true" launch-prefix="">
    <rosparam command="load" file="$(find herox_base)/config/driver.yaml" />
  </node>
  <!-- Velocity controller -->
  <include file="$(find herox_control)/launch/control_vel.launch" />
</launch>
